@import url('./reset.css');
@import url('./responsive.css');


/* seção cabeçalho página */

header ul {
    display:flex;
    flex-direction: row;
    padding:1rem;
    align-items:center;
    justify-content: center;
}
header ul li{
    display:flex;
    list-style:none;
    text-decoration: none;
}
header ul li a{
    text-decoration: none;
    padding:1rem;
    border:1px transparent #dc0c62;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    margin-left: 1rem;
    color:var(--cor-padrao);
    
}
header ul li a:hover{
    background:#dc0c62 ;
    color:var(--cor-hover);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    filter:blur(0.5px);
    -webkit-filter:blur(0.5px);
}





/*  seção corpo */


body main {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items:stretch;
    overflow:hidden;
    height:100%;
   
    font-family: var(--fonte-padrao);
}
body main .conteudo-principal .caixa-geral{
    display:flex;
    flex-direction:row;
    align-items: stretch;
    justify-content: center;
    overflow:hidden;
    width:calc(100% - 10px);
    height:50%;
    min-width:1200px;
    max-width: 1200px;

}
body main .conteudo-principal .caixa-geral .cartao{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao2{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo3)  top  no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao3{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo2) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao4{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo4) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao5{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo6) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao6{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo5) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao7{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo7) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao8{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo8) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao9{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo9) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}
body main .conteudo-principal .caixa-geral .cartao10{
    position:relative;
    overflow:hidden;
    margin:10px;
    cursor:pointer;
    min-width: 60px;
    min-height:400px;
    background:var(--imagem-fundo10) top   no-repeat;
    background-size: auto 120%;
    transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -webkit-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -moz-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -ms-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
    -o-transition:0.5s cubic-bezier(0.05,0.61,0.41,0.95)      ;
}

body main .conteudo-principal .caixa-geral [class^="cartao"].cartao-ativo:hover{
    flex-grow: 10000;
    display: flex;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    min-width: 600px;
    margin:0;
    border-radius:60px;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    -ms-border-radius:60px;
    -o-border-radius:60px;
   
}

body main .conteudo-principal .caixa-geral [class^="cartao"].cartao-ativo .elemento-sombreado{
    
  width: 10px;
  height: 100px;
  
  box-shadow: 5px 5px 10px #eee7e7;
}
body main .conteudo-principal .caixa-geral [class^="cartao"]:nth-child(1).cartao-ativo .elemento-sombreado{
    
    width: 10px;
    height: 100px;
   
    position: absolute;
    left: 100%; /* Posiciona o elemento no centro da tela */
    margin-left: -50px; /* Define um valor negativo igual à metade da largura para centralizar */
    box-shadow: -5px 5px 10px #eee7e7;
  }
  
  
  


.caixa-geral .cartao-ativo:not(:hover) {
    filter: grayscale(100%);
  }






/* seção rodape da página */

footer{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer p {
    position:absolute;
    top:20vh;
    
    
    color:var(--cor-padrao);
}

